.listing-items {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr); /* Create 5 equal-width columns */
    grid-auto-rows: minmax(100px, auto); /* Set minimum row height and let rows expand as needed */
    gap: 10px; /* Add some gap between grid items */
    list-style: none;
}

.listing-image {
    width: 75%
}